html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  margin-inline-start: 1em;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.radix-themes {
  --default-font-family: var(--font-noto-sans);
}

[lang="jp"] {
  font-family: var(--font-noto-jp);
}
