.page {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.main {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 120px 60px;
}
