.page {
  display: flex;
  align-items: center;
  justify-content: start;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 120px 60px;
}
